@{
    ViewBag.CurrentUrl = Url.Action("Panel", "Usuario");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row border-bottom white-bg dashboard-header">
    <div class="col-lg-12">
        <ol class="breadcrumb" style="font-size: 14px">
            <li class="active"><strong>Inicio</strong></li>
        </ol>
    </div>
</div>